/* general css */
*{
    box-sizing: border-box; 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d67a7eb;
    padding: 20px;
    font-size: 22px;
    /* position: fixed; */
    width: 100%;
    color: #fff;  
}

input, button:focus{
    outline: none;
    cursor: pointer;
}

/* header css */
a.website-name {
    color: white;
    text-decoration: none;
    position: relative;
    left: 5%;
    bottom: 2px;
}
.user-profile-photo {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    float: right;
    padding: 0;
    margin-right: 3%;
    margin-top: 6px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50%;
    background-image: url(https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png);
}
ul.user-profile-options {
    position: absolute;
    right: 4.5%;
    top: 46px;
    color: #1d67a7eb;
    background-color: #fff;
    border: 1px solid #1d67a7eb;  
    border-bottom: 1px;
    padding: 0; 
    display:none;
}
.user-profile-options li{
    list-style-type: none;
    padding: 10px 30px;
    font-size: 16px;
    border-bottom: 1px solid#1d67a7eb;
    cursor: pointer;
}
button.user-profile-photo:focus + .user-profile-options{
    display: block;
}

